<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDI Web App</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <img src = "STUDI logo.png" width = "100px" alt = "STUDI logo">
    <!--<h1>STUDI</h1> -->
    <nav>
        <a href = "/about">About</a>
        <a href = "#">Services</a>
    </nav>
    <form action="/about">
        <input type="text" name="city" id="city" placeholder="Enter your class" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>