<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDI Web App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
    
</head>

<body>
   
   
   
   <div class = "sidebar">
        <div class="top">
            <div class="logo">
                <img src = "STUDI logo.png" width = "100px" alt = "STUDI logo">
            </div>
            <i class = "bx bx-menu" id = "btn"></i>
        </div>
        <div class="user">
            <img src = "user-regular-24.png" alt = "me" class = "user img">
            <div>
                <p class = "bold">Jadon</p>
                <p>Admin</p>
            </div>
        </div>
        <ul>
            <li>
                <a href = "/templates/about.html">
                    <i class = "bx bx-clipboard"></i>
                    <span class = "nav-item">About</span>
                </a>
                <span class = "tooltip">About</span>
            </li>
            <li>
                <a href = "#">
                    <i class = "bx bxs-grid-alt"></i>
                    <span class = "nav-item">Dashboard</span>
                </a>
                <span class = "tooltip">Dashboard</span>
            </li>
            <li>
                <a href = "/templates/study.html">
                    <i class = "bx bx-book-open"></i>
                    <span class = "nav-item">Study</span>
                </a>
                <span class = "tooltip">Study</span>
            </li>
            <li>
                <a href = "#">
                    <i class = "bx bx-chat"></i>
                    <span class = "nav-item">Friends</span>
                </a>
                <span class = "tooltip">Friends</span>
            </li>
            <li>
                <a href = "#">
                    <i class = "bx bx-log-out"></i>
                    <span class = "nav-item">Logout</span>
                </a>
                <span class = "tooltip">Logout</span>
            </li>
           
        </ul>
   </div>
   
    <div class = "main-content">
        <header>
            <div class="navbar">
                <div class="logo"><a href="/templates/index.html">STUDI</a></div>
            </div>
       </header>
       <div class="hosting">
            <ul>
                <li> <a id = "show-host" href = "#"> + Host STUDI</a> </li>
                <li> <a href = "#"> + Join STUDI</a> </li>
                
            </ul>
        </div>
        <div class="popup">
            <div class="close-btn">&times;</div>
            <div class="form">
                <h2>Host Session</h2>
                <div class="form-element">
                    <label form = "class">Class</label>
                    <input type = "text" id = "class" placeholder = "Enter Class">
                </div>
                <div class="form-element">
                    <label for = "location">Location</label>
                    <input type = "location" id = "location" placeholder = "Enter location">
                </div>
                <div class="form-element">
                    <label class = "switch">
                        <input type = "checkbox">
                        <span class = "slider round"></span>
                    </label>
                </div>
                <div class="form-element">
                    <button>Start</button>
                </div>
               
            </div>
        </div>
   </div>

    
</body>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');
    document.querySelector("#show-host").addEventListener("click", function(){
        document.querySelector(".popup").classList.add("active");
    });

    document.querySelector(".close-btn").addEventListener("click", function(){
        document.querySelector(".popup").classList.remove("active");
    });

    btn.onclick = function(){
        sidebar.classList.toggle('active');
    };
</script>

</html>